<div class="navbar navbar-inverse">
	    <div class="navbar-inner">
		    <a class="brand" href="#">Social Network</a>
	    </div>
    </div>
	<div id="container">
		<div class="row">
			<div class="span5 pull-left">
				<div class="hero-unit" style="padding:10px">
					<form class="form-signin">
				        <h2 class="form-signin-heading">Войти</h2>
				        <input type="text" class="input-block-level" placeholder="Email address">
				        <input type="password" class="input-block-level" placeholder="Password">			       
				        <button class="btn btn-large btn-primary" type="submit">Войти</button>
				     </form>
				</div>
				<img class="logo" src="img/socseti.jpg" alt="">
			</div>
			<div class="span7 pull-right">
				<div class="hero-unit" style="padding:10px">
					<h2>Social Network</h2>				
					 <p>Универсальное средство общения и поиска знакомых. Здесь можно посмотреть на людей, показать себя, поделиться мыслями, узнать что нового у старых друзей и поискать друзей новых.</p>
				     <div>
				     	<ul>
				     		<li>Доброжелательная атмосфера для таких же людей</li>
				     		<li>Быстрая и простая регистрация</li>
				     		<li>Сделано с душой и от чистого сердца</li>
				     		<li>Мы за здоровье человека и общества</li>
				     	</ul>
				     </div>
				     <button class="btn btn-large btn-block btn-success" type="button">Присоединиться</button>
					<h6>Разработал Сергей Лабоцкий на Ruby on Rails.</h6>			
				 </div>
			</div>
		</div>		
	</div>
