#container
  .row
    .span7.pull-right
      %h1 Регистрация   
      = render 'form'          
    .span7.pull-left.right_block
      = image_tag('socseti.png', alt:'social', class:'logo')       
      %h1 DESTINY
      %p Универсальное средство общения и поиска знакомых. Здесь можно посмотреть на людей, показать себя, поделиться мыслями, узнать что нового у старых друзей и поискать друзей новых.
      %div.spisok
        %ul
          %li
            %i.icon-ok
            Доброжелательная атмосфера для таких же людей
          %li
            %i.icon-ok
            Быстрая и простая регистрация            
          %li
            %i.icon-ok
            Сделано с душой и от чистого сердца            
          %li
            %i.icon-ok
            Мы за здоровье человека и общества

     