<%= simple_form_for @micropost, remote: true do |f| %>
  <%= f.input :content, as: :text, input_html:{id: 'status_message_fake_text', rows: 2, 
  	placeholder: "Начать беседу...", tabindex: 1, cols: 40} %>
  <%= f.button :button, "Отправить", class: 'btn btn-mini pull-right btnarea', remote: true %>
  <%= f.button :button, "Preview" , class: 'btn btn-mini btn-primary pull-right btnarea' %>	
<% end %>
<div class="close_window" style="position: absolute; top:5px; right:5px; display:none;">
										<a href="javascript:void(0)">x</a></div>

