<%if @current_user.present?%>					
	<%= content_tag(:span, toggle_like_button(micropost, @current_user), 
							class: "like_button-#{micropost.id}") %>
	<% if !micropost.flaggings.empty? %>						
		<a href="#myModal-<%=micropost.id%>" role="button" 
		data-toggle="modal">Кому?</a>
	<% end %>						
	<i class="icon-heart"></i> 
<%end%>
	<%= content_tag(:span, micropost.flaggings.count, 
					    			class: "like-#{micropost.id}") %>