.comment{
	margin-left:50px;
}

.span_photo_comment{
	margin-top: 5px;
}
.span_text_comment{
	width: 360px;
	margin-left: 35px;
}

.avatar_comment{
	box-shadow: 0px 1px 2px rgb(102, 102, 102); 
  	float: left;
}

.commentForm{
	margin-left:-55px;
	border-bottom: none !important;
}

.status_message_fake_comment{
	width: 490px !important;
	margin-left: 60px;
	margin-top: 7px;
	font-size:12px;	
}

.image_upload_comment{
	position: absolute;
	top: 11px;
	right: 15px;
	overflow: hidden;
}

.wrapper .btnarea{
	margin-right:8px;
}

