#list span{
	position: relative;
	margin-right: 8px;
}

#list span div{
	z-index: 1;
	position: absolute;
	right: 5px;
	top: -10px;
	width: 15px;
	max-width: 15px;
	height: 15px;
	max-height: 15px;
	background-color: rgb(51, 51, 51);
	padding-bottom: 3px;
	opacity: 0.6;
	transition: 0.3s all linear;		
}

#list span div a{
	text-decoration:none;
	color:#fff;
	margin-left:4px;
	font-weight: bold;	
}

#list span div:hover{
	opacity: 1;
}

.progress_bottom{
	position: fixed;
	bottom: 35px;
	right: 110px;
	font-size: 48px;
	display: none;
}