@import "bootstrap"

body
  min-width: 1024px
  > .navbar .brand
    padding-right: 0px
    padding-left: 0px
    margin-left: 20px
    float: left
    font-weight: bold
    color: #fff
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 0px 30px rgba(255, 255, 255, 0.125)

#container
  margin: 0 auto
  width: 1224px

.navbar-inner
  border-radius: 0

.well
  border-radius: 0
  background-color: none
  padding: 0
  li
    padding-top: 3px

.span4
  width: 250px

.badge
  border-radius: 0

.hero-unit
  padding: 0px
  background-color: rgb(245, 245, 245)
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset
  border-radius: 0
  margin-bottom: 7px

.status
  float: right
  padding: 0

h6
  display: inline
  color: rgb(58, 135, 173)
  padding: 0px
  margin: 3px

.name
  float: left
  padding: 0

.line
  border-bottom: 1px solid #ccc
  p
    font-size: 12px
    padding: 0
    margin: 2px

.info_user
  p
    color: rgb(58, 135, 173)
    font-size: 11px
    padding: 0
    margin: 0
    font-weight: bold
  margin-top: 10px
  margin-bottom: 10px

.photo_gallery img
  float: left
  margin-right: 3px
  margin-left: 3px

textarea
  width: 620px
  height: 30px

.span9
  width: 620px

.photos
  margin-bottom: 30px

.post
  margin-top: 10px
  li
    list-style-type: none
    border-bottom: 1px solid #ccc
    margin-left: -24px
    margin-bottom: 10px
  p
    font-size: 11px
    margin-bottom: 7px
    padding: 0

.username
  color: rgb(58, 135, 173)
  font-weight: bold
  margin-top: -2px

.post .span2
  width: 63px
  margin-top: 6px

.friends
  ul
    margin: 10px 10px 10px 17px
  li
    margin: 1px
    padding: 0
    width: 50px

.post .row p
  padding: 0
  margin: 0

.logo
  position: absolute
  left: -35px
  bottom: -300px
  width: 700px

.right_block
  position: relative

.navbar-inner  
  background-image: url('headerfon.png') !important
  background-repeat: repeat-x !important
  border-bottom: 1px solid rgb(0, 0, 0) !important
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9) 

.spisok
  li
    list-style-type: none
    line-height: 30px


.brand
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9) !important  

.register
  margin: 0 auto
  width: 500px

select
  display: inline
  width: 100px

.signin input
  height: 25px