// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple_form label {
	border: none;
	line-height: 10px;
	font-size:11px;
	color: #ccc;		
}

.simple_form abbr {
	border:none !important;
	color: #ccc;
}

.simple_form .error {
	font-size:10px;
	margin-bottom:10px;
	padding:0;
	line-height:0;
}

.message_notice{	
	background: none repeat scroll 0% 0% rgb(244, 248, 153);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
	position: fixed;
	top: -10px;
	text-align: center;	
}

.popover, .btn, .dropdown-menu{
	border-radius: 0px;
}

.alert_message{
	margin: 0px auto;
	color: rgb(102, 102, 102);
	width: 950px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	line-height: 40px;
}

.progress{
	width:100px;
	height:10px;
	display:none;
}

.end, .prev, .next{
	display:none;
}

.popover-content{
	font-size:12px;
	line-height:20px;
	font-weight: bold;
}

.popover-inner p{
	display:none;
}

#name{
	display:inline;
}

.session #session_email, .session #session_password{
	float: left;
	width: 211px;
	margin: -6px 10px 0 0;
	height:20px !important;
	
}

.simple_form input[type=text], .simple_form input[type=email], .simple_form input[type=password]{
	font-size: 14px;
	font-weight: bold;	
}

.simple_form input, .simple_form select  {
	border-radius: 0px;	
}

.btn_enter{
	margin: -6px 0px -17px 0px !important;
	height: 30px !important;
}

#container{	
	margin: 0 auto;
  	width: 950px;
  	margin-top: 90px;
}

#new_micropost label{
	display: none;
}

.lastposts{
	display: none;
}

.thumb {
    height: 50px;
    box-shadow: 0px 1px 2px rgb(102, 102, 102);
    margin: 10px 5px 0 0;
}

#list{
	position: absolute;
	bottom: 45px;
	left: 3px;
}

#status_message_fake_text{
	padding-bottom:50px;
}  

