// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple_form label {
  border: none;
  line-height: 10px;
  font-size:11px;
  color: #ccc;		
}

.simple_form abbr {
	border:none !important;
	color: #ccc;
}

.simple_form .error {
 font-size:10px;
 margin-bottom:20px;
 padding:0;
 line-height:0;
}