.icon-heart{
	margin-top: 2px;
	margin-right: 0px;
}
.date_like span{
	color: #000;
	font-size: 13px;	
}

.date_like{
	position: absolute;
	bottom:5px;
	right: 15px;
}

.date_like a{
	font-size:11px;
	color: rgb(153, 153, 153);
}

.people_like_photo{
	width: 50px;
	font-size: 9px;
	text-align: center;
	padding:10px;
}

#fancybox-wrap{
	position: fixed !important;
	top:50px !important;
}