.navbar.navbar-inverse
  .navbar-inner
    %a.brand{:href => "#"} DESTINY
    %img{:src => "/assets/logo1.png", :class => 'logos'}  
    .span7.pull-right.navbar-form.signin
      %input{:placeholder => "Email address", :type => "text"}/
      %input{:placeholder => "Password", :type => "password"}/
      %button.btn.btn-small.btn-primary{:type => "submit"} Войти